yout_comnt.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -320,
        -240
      ],
      "id": "d74a8d7e-b684-4c15-84d3-32544c9f1126",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "webScrapper",
        "dataset_id": {
          "__rl": true,
          "value": "gd_lk9q0ew71spt1mxywf",
          "mode": "list",
          "cachedResultName": "Youtube - Comments"
        },
        "urls": "[{\"url\":\"https://www.youtube.com/watch?v=XAi3VTSdTxU\"}]",
        "requestOptions": {}
      },
      "type": "@brightdata/n8n-nodes-brightdata.brightData",
      "typeVersion": 1,
      "position": [
        -112,
        0
      ],
      "id": "0c176772-f039-4131-a225-6c37b1a18818",
      "name": "Extract structured data from a single URL",
      "credentials": {
        "brightdataApi": {
          "id": "5J1lN7KqhF5MIvOF",
          "name": "BrightData account"
        }
      }
    },
    {
      "parameters": {
        "resource": "webScrapper",
        "operation": "downloadSnapshot",
        "part": 2,
        "snapshot_id": "={{ $json.snapshot_id }}",
        "requestOptions": {}
      },
      "type": "@brightdata/n8n-nodes-brightdata.brightData",
      "typeVersion": 1,
      "position": [
        16,
        -224
      ],
      "id": "f5559e92-cf2b-409c-8365-3355241606df",
      "name": "Download the snapshot content",
      "retryOnFail": true,
      "credentials": {
        "brightdataApi": {
          "id": "5J1lN7KqhF5MIvOF",
          "name": "BrightData account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      comments: items.map(item => item.json.comment_text)\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        32
      ],
      "id": "992d628f-dd9a-4d0e-beb8-71a0ca194bda",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=AIzaSyBB7QvAZwVP1vbqCO4NWUggeH_7PefUkFM",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": \"AIzaSyBB7QvAZwVP1vbqCO4NWUggeH_7PefUkFM\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "\n{\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Here are YouTube comments:\\n\\n{{ $json.comments }}\\n\\nExtract user interests and suggest enhancements that the content creator can make dont make too many advices be point to one of each that's it. Return output in JSON with keys: interests, enhancements.\"\n        }\n      ]\n    }\n  ]\n}\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 12
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        -224
      ],
      "id": "3368bd25-40aa-473b-9ab2-8e12615b365f",
      "name": "HTTP Request",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "sendTo": "22701a3068@aitsrajampet.ac.in",
        "subject": "Your YouTube Enhancements & Audience Interests",
        "message": "=Hi Creator,  Based on recent YouTube comments, here are insights:  🔹 Audience Interests: - {{ $json.interests.join(\"\\n- \") }} \n\n🔹 Suggested Enhancements: - {{ $json.enhancements.join(\"\\n- \") }}  Best, Your AI Agent",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        752,
        -240
      ],
      "id": "77597b65-77f9-491d-8595-901f3d3ace22",
      "name": "Send a message",
      "webhookId": "e1d61d3a-77ee-417e-9c6e-62d9ef523385",
      "credentials": {
        "gmailOAuth2": {
          "id": "rZwbytQxIJ76XPry",
          "name": "Gmail account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  let raw = item.json.candidates[0].content.parts[0].text;\n  \n  // Clean Markdown code fences if Gemini added them\n  raw = raw.replace(/```json|```/g, '').trim();\n\n  return {\n    json: JSON.parse(raw)\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        32
      ],
      "id": "452f2528-f6bd-45a3-b954-93f0ff1cbb2b",
      "name": "Code1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Extract structured data from a single URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract structured data from a single URL": {
      "main": [
        [
          {
            "node": "Download the snapshot content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download the snapshot content": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "any",
    "executionTimeout": -1
  },
  "versionId": "da9870f4-34be-4315-b0f0-8715ef49d41b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b46084f4e0149f2ad07fb7523ed097b6dd0bfdb9026515aa3070fbfff7c70dc2"
  },
  "id": "AYDdRjXUsVq5E0Wh",
  "tags": []
}